
<div class="container mt-2 bg-light col-lg-6">

    <p><strong> input/output</strong></p>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        {{ registrationForm.value | json }}
        <!-- input email -->
        <div class="form-group">
            <label>Email</label>
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('email').errors, 
            'is-valid': submited && !registrationForm.get('email').errors}" type="email" class="form-control"
                formControlName="email">
            <div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
                <small *ngIf="registrationForm.get('email').errors?.required" class="text-danger">Email is
                    required</small>
                <small *ngIf="registrationForm.get('email').errors?.pattern" class="text-danger">Email must be
                    xxxx.xxxx@gmail.com</small>
            </div>
        </div>

        <!-- input password -->
        <div class="form-group">
            <label>Password</label>
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('password').errors, 
            'is-valid': submited && !registrationForm.get('password').errors}" type="password" class="form-control"
                formControlName="password">
            <div *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
                <small *ngIf="registrationForm.get('password').errors.required" class="text-danger">Password is
                    required</small>
                <small *ngIf="registrationForm.get('password').errors.pattern" class="text-danger">Password must be
                    eight and different caracters</small>
            </div>
        </div>

        <!-- Name -->
        <div class="form-group">
            <label>Name</label>
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('name').errors, 
            'is-valid': submited && !registrationForm.get('name').errors}" type="text" class="form-control"
                formControlName="name">
            <div *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">
                <small *ngIf="registrationForm.get('name').errors.required" class="text-danger">Name is
                    required</small>
            </div>
        </div>

        <!-- Lastname -->
        <div class="form-group">
            <label>Lastame</label>
            <input [ngClass]="{'is-invalid': submited && registrationForm.get('lastname').errors, 
            'is-valid': submited && !registrationForm.get('lastname').errors}" type="text" class="form-control"
                formControlName="lastname">
            <div *ngIf="registrationForm.get('lastname').invalid && registrationForm.get('lastname').touched">
                <small *ngIf="registrationForm.get('lastname').errors.required" class="text-danger">Lastame is
                    required</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        
        </form>
        </div>
<app-tableau [userTable]="users" (deleteuserEvent)="deleteUser($event)"></app-tableau>
<router-outlet></router-outlet>